*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFDDD2;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background: #006D77;
    color: #fff;
    grid-area: encabezado; 
}

.contenedor .contenido{
    background: #fff;
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: #E29578;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: #83C5BE;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .pie{
    background: #006D77;
    color: #333;
    grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}


.pie {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  
  .pie .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .pie .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #333;
 }
  
  .pie .social-footer-icons .fa:hover {
    color: #339;
    transition: color 0.3s ease-in;
  }
  
  