*{
    margin: 0;
    padding: 0;
}
.body{
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.menu{
    display: flex;
    align-items: center;
}
.logo {
    padding: 5px;
  }
.headerUl{
    display: flex;
    justify-content: space-between;
}

.headerNav{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}
.contenedor{
    width: 90%;    
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(4,auto);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado encabezado"
                         "contenido contenido contenido sidebar"
                         "widget-1 widget-2 widget-3 sidebar"
                         "pie pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background: darkblue;
    color: #fff;
    grid-area: encabezado;
    display: flex;
  justify-content: space-between;
  position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 70px;
  
 
}

.contenedor .contenido{
    background: #fff;
    grid-area: contenido; 
    margin-top: 50px;
}

.contenedor .sidebar{
    margin-top: 50px;
    background: orange;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3{
    background: lightskyblue;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

.contenedor .widget-3{
    grid-area: widget-3; 
}

.contenedor .pie{
    background: lightblue;
    color: #fff;
    grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "widget-3 widget-3 widget-3"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "widget-3 widget-3 widget-3"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}


.pie {
    padding: 1rem;
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  
  .pie .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .pie .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
    padding: auto;
    
 }
  
.sombreado {
    box-shadow: 6px 8px 28px 0px rgba(0,0,0,0.36);
}

  .pie .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
  }

#ANTERIOR

/*
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
*/
h1{
    font-family: 'Silkscreen', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
    normal-font: 400;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

p{
    font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav h1 {
    color: var(--color-primario);
  }
  
  nav a {
    color: var(--color-primario);
    transition: var(--transicion);
  }
  nav a:hover {
    color: var(--valor-secundario);
    border-bottom: 2px solid var(--valor-secundario);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--negrita);
  }

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  
  .botones {
    background-color: #ccc;
    
  }