.container{
    background-color: navy;
    padding: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    /*justify-content: center;
    justify-content: start;
    justify-content: end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;*/
    height: 500px;
    grid-template-rows: 100px 100px;
    align-content: start;

}

.hijo{
    background-color: lightblue;
    text-align: center;
    color: white;
    border: 1px dotted white;
}